<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@HWL.ShareConfig.AppConfigManager.DefaultAppName 是一款基于LBS定位,并将一定范围的用户组建成一个圈子,这些用户之间可以相互共享自己主动发布的信息的APP">
    <meta name="keywords" content="@HWL.ShareConfig.AppConfigManager.DefaultAppName 附近分享,圈子">
    <title>@HWL.ShareConfig.AppConfigManager.DefaultAppName 官方</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
</head>
<body>
    <div class="head">
        <div class="nav">
            <ul>
                <li @(Context.Request.Path.Value == "/" || Context.Request.Path.Value?.ToLower() == "/home/index" ? "class=on" : "")>
                    <h1><a href="/"><span>首页</span></a></h1>
                </li>
                <li @(Context.Request.Path.Value?.ToLower() == "/home/qrshare" ? "class=on" : "")>
                    <h1><a href="/home/qrshare"><span>APP下载</span></a></h1>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    @RenderBody()

    <div class="copy">
        <a href="/home/privacy" style="color:#999;margin-right:20px;">@(HWL.ShareConfig.AppConfigManager.DefaultCAppName)隐私声明</a>
        <span>Copyright © 2017-2018 All Rights Reserved.</span>
    </div>

</body>
</html>